{% extends "includes/base.html" %} {% block css %}
<style>
  body {
    background-color: #6c757d !important;
  }
</style>
{% endblock %} {% block content %}
<div class="bg-secondary">
  <div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-md-6">
        <div class="card jus">
          <div class="card-body">
            <h1 class="card-title">All Activities</h1>
            <div class="card jus">
              <div class="card-body">
                <ul>
                  {% for a in activities %}
                  <h4><a href="{% url 'activities-detail' a.nama %}"><li>{{ a.nama }}</li></a></h4>
                  <p><b>Deskripsi :</b></p>
                  <p>
                    {{ a.deskripsi }}
                  </p>
                  <h1></h1>
                  {% endfor %}
                </ul>
              </div>
              <!-- Button trigger modal -->

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModalCenter"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">
                        Tambah Kegiatan
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="{% url 'get-activities' %}" method="POST">
                    <div class="modal-body">
                      {% csrf_token %}
                      {% load crispy_forms_tags %}
                      {{ form_kegiatan|crispy }}
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Tambah Kegiatan
                      </button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="container d-flex justify-content-end">
              <button
              type="button"
              class="btn btn-primary mt-2"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              Tambah Kegiatan
            </button>
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
