{% extends "includes/base.html" %} {% block css %}
<style>
  body {
    background-color: #6c757d !important;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card jus">
        <div class="card-body">
          <h3 class="card-title">{{kegiatan.nama}}</h3>
          <p>{{kegiatan.deskripsi}}</p>
          <ol>
            {% for p in kegiatan.pendaftar.all %}
            <form action="{% url 'peserta-delete' nama=kegiatan.nama %}" method="POST">
                {% csrf_token %}
              <li class="mt-2">
                  <input type="hidden" name="id" value="{{p.id}}">
                <input
                  type="submit"
                  value="x"
                  class="bg-transparent border-1 border-dark mr-2"
                />{{ p.nama }}
              </li>
            </form>
            {% endfor %}
          </ol>
        </div>
        <button
          type="button"
          class="btn btn-primary mt-2 w-50 mx-auto my-3"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Ikut Kegiatan
        </button>
    </div>
  </div>
</div>
<div
class="modal fade"
id="exampleModalCenter"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">
        Ikut Kegiatan
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="{% url 'activities-detail' name=kegiatan.nama %}" method="POST">
      <div class="modal-body">
        {% csrf_token %} {% load crispy_forms_tags %} 
        {{ form_peserta|crispy }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">
          Ikut
        </button>
      </div>
    </form>
  </div>
</div>
</div>
</div>

{% endblock %}
