{% extends "includes/base.html" %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'story3/style.css' %}" />
    {% endblock %}
{% block content %}
    <!-- Button trigger modal -->
    <div class="container-page">
      <button
      type="button"
      class="btn btn-dark"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      SEE PHOTOS
    </button>
    </div>
    <div class="decorator">
      <svg
        width="1783"
        height="1050"
        viewBox="0 0 1783 1050"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="d-none d-sm-none d-md-block"
      >
        <path
          d="M1549.92 246.862L1441.3 198.787L1497.63 94.0153L1606.24 142.092L1549.92 246.862Z"
          fill="#FE9270"
        />
        <path
          d="M1452.52 117.65L1514.27 144.98L1546.29 85.4169L1484.54 58.0881L1452.52 117.65ZM1516.26 150.794L1446.25 119.806L1482.55 52.2739L1552.57 83.2602L1516.26 150.794Z"
          fill="#FF5E6C"
        />
        <path
          d="M1499.63 255.369L1561.38 282.699L1593.4 223.136L1531.65 195.807L1499.63 255.369ZM1563.37 288.513L1493.36 257.525L1529.66 189.993L1599.68 220.979L1563.37 288.513Z"
          fill="#FF5E6C"
        />
        <path
          d="M1557.41 164.078L1619.16 191.408L1651.19 131.845L1589.44 104.516L1557.41 164.078ZM1621.15 197.222L1551.14 166.234L1587.45 98.702L1657.46 129.688L1621.15 197.222Z"
          fill="#FF5E6C"
        />
        <path
          d="M1398.12 218.83L1459.87 246.16L1491.9 186.597L1430.15 159.268L1398.12 218.83ZM1461.86 251.974L1391.85 220.987L1428.16 153.454L1498.17 184.44L1461.86 251.974Z"
          fill="#FF5E6C"
        />
        <path
          d="M663.744 1001.49L691.827 970.922L655.331 951.153L627.248 981.716L663.744 1001.49ZM704.25 968.845L665.363 1011.17L614.824 983.793L653.713 941.474L704.25 968.845Z"
          fill="#62BFA1"
        />
        <path
          d="M118.095 1029.46C113.414 1028.52 110.213 1022.53 109.315 1013.03L109.005 1009.76C108.347 1002.81 106.004 998.416 102.575 997.724C99.1477 997.033 95.2848 1000.17 91.9826 1006.32L90.7512 1008.62C86.2392 1017.03 80.9694 1021.31 76.2864 1020.36C71.605 1019.42 68.4061 1013.43 67.5073 1003.93L67.1576 1000.21C66.4988 993.253 64.1543 988.868 60.7256 988.176C57.2968 987.485 53.4348 990.622 50.1334 996.775L49.2236 998.472C44.7124 1006.88 39.4393 1011.16 34.7579 1010.21C30.0766 1009.27 26.8784 1003.28 25.9805 993.783L25.84 992.326C25.1828 985.362 22.8391 980.973 19.4119 980.282C15.9816 979.59 12.1211 982.727 8.8173 988.884L5.28704 995.462L3.22007 989.675L6.74956 983.101C11.2584 974.696 16.5306 970.414 21.212 971.358C25.8917 972.302 29.0915 978.294 29.9886 987.793L30.1291 989.25C30.7871 996.21 33.1308 1000.6 36.558 1001.29C39.9883 1001.98 43.8496 998.849 47.1518 992.692L48.0632 990.996C52.572 982.591 57.8426 978.308 62.524 979.253C67.2053 980.197 70.4059 986.185 71.3047 995.684L71.6568 999.404C72.3131 1006.36 74.6576 1010.75 78.0864 1011.44C81.5168 1012.13 85.3764 1009 88.681 1002.84L89.9117 1000.55C94.422 992.135 99.6951 987.857 104.375 988.801L104.376 988.801C109.058 989.746 112.256 995.737 113.154 1005.23L113.464 1008.5C114.123 1015.46 116.466 1019.84 119.896 1020.53C123.325 1021.23 127.185 1018.09 130.488 1011.93L133.326 1006.65C137.835 998.238 143.107 993.959 147.788 994.903C152.47 995.848 155.67 1001.84 156.569 1011.33C157.226 1018.29 159.57 1022.68 162.999 1023.37C166.43 1024.06 170.289 1020.93 173.593 1014.77L175.948 1010.38C180.459 1001.97 185.731 997.691 190.41 998.635C195.092 999.579 198.292 1005.57 199.191 1015.07L200.098 1024.65C200.755 1031.61 203.1 1035.99 206.529 1036.68C209.957 1037.38 213.819 1034.24 217.121 1028.08L219.906 1022.89L221.974 1028.68L219.192 1033.87C214.681 1042.27 209.41 1046.55 204.728 1045.61C200.047 1044.66 196.847 1038.68 195.949 1029.18L195.042 1019.59C194.384 1012.63 192.041 1008.25 188.61 1007.56C185.182 1006.87 181.322 1010 178.018 1016.16L175.663 1020.55C171.152 1028.96 165.881 1033.24 161.199 1032.29C156.518 1031.35 153.317 1025.36 152.42 1015.86C151.761 1008.9 149.419 1004.52 145.988 1003.83C142.559 1003.14 138.698 1006.27 135.396 1012.43L132.558 1017.72C128.047 1026.13 122.775 1030.4 118.095 1029.46Z"
          fill="#7070AD"
        />
        <path
          d="M391.593 232.399L422.59 228L442 251.975L430.407 280.359L399.41 284.758L380 260.783L391.593 232.399Z"
          fill="#62BFA1"
        />
        <path
          d="M380 3.5C380 56.7955 336.795 100 283.5 100C230.204 100 187 56.7955 187 3.5C187 -49.7955 230.204 -93 283.5 -93C336.795 -93 380 -49.7955 380 3.5Z"
          fill="#FE9270"
        />
        <path
          d="M350 4C350 40.4508 320.451 70 284 70C247.549 70 218 40.4508 218 4C218 -32.4508 247.549 -62 284 -62C320.451 -62 350 -32.4508 350 4Z"
          fill="#1B1C20"
        />
        <path
          d="M1361 1035L1361 1023L1403 1023L1403 1035L1361 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1415 1035L1415 1023L1457 1023L1457 1035L1415 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1469 1035L1469 1023L1511 1023L1511 1035L1469 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1524 1035L1524 1023L1566 1023L1566 1035L1524 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1578 1035L1578 1023L1620 1023L1620 1035L1578 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1632 1035L1632 1023L1674 1023L1674 1035L1632 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1686 1035L1686 1023L1728 1023L1728 1035L1686 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1741 1035L1741 1023L1783 1023L1783 1035L1741 1035Z"
          fill="#FFCB7C"
        />
        <path
          d="M1306 988L1306 976L1348 976L1348 988L1306 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1360 988L1360 976L1402 976L1402 988L1360 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1414 988L1414 976L1456 976L1456 988L1414 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1469 988L1469 976L1511 976L1511 988L1469 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1523 988L1523 976L1565 976L1565 988L1523 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1577 988L1577 976L1619 976L1619 988L1577 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1631 988L1631 976L1673 976L1673 988L1631 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1686 988L1686 976L1728 976L1728 988L1686 988Z"
          fill="#62BFA1"
        />
        <path
          d="M1252 934L1252 922L1294 922L1294 934L1252 934Z"
          fill="#7070AD"
        />
        <path
          d="M1306 934L1306 922L1348 922L1348 934L1306 934Z"
          fill="#7070AD"
        />
        <path
          d="M1360 934L1360 922L1402 922L1402 934L1360 934Z"
          fill="#7070AD"
        />
        <path
          d="M1415 934L1415 922L1457 922L1457 934L1415 934Z"
          fill="#7070AD"
        />
        <path
          d="M1469 934L1469 922L1511 922L1511 934L1469 934Z"
          fill="#7070AD"
        />
        <path
          d="M1523 934L1523 922L1565 922L1565 934L1523 934Z"
          fill="#7070AD"
        />
        <path
          d="M1577 934L1577 922L1619 922L1619 934L1577 934Z"
          fill="#7070AD"
        />
        <path
          d="M1632 934L1632 922L1674 922L1674 934L1632 934Z"
          fill="#7070AD"
        />
      </svg>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enjoy The Nature</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block w-100 "
                    src="https://picsum.photos/500/301"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://picsum.photos/500/302"
                    alt="Second slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://picsum.photos/500/303"
                    alt="Third slide"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
