{% extends "includes/base.html" %}
{% load static %}
{% block title %}Story 4{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'story3/style.css' %}" />
    {% endblock %}
{% block content %}
    <main
      class="vw-100 vh-100 d-flex flex-column align-items-center justify-content-center"
    >
      <div id="nama">
        <div class="d-sm-block d-md-none">
          <svg
            width="625"
            height="118"
            viewBox="0 0 625 118"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M62.2656 85.7656C62.2656 81.7552 60.8333 78.6302 57.9688 76.3906C55.1562 74.151 50.1823 71.8333 43.0469 69.4375C35.9115 67.0417 30.0781 64.724 25.5469 62.4844C10.8073 55.2448 3.4375 45.2969 3.4375 32.6406C3.4375 26.3385 5.26042 20.7917 8.90625 16C12.6042 11.1562 17.8125 7.40625 24.5312 4.75C31.25 2.04167 38.8021 0.6875 47.1875 0.6875C55.3646 0.6875 62.6823 2.14583 69.1406 5.0625C75.651 7.97917 80.7031 12.1458 84.2969 17.5625C87.8906 22.9271 89.6875 29.0729 89.6875 36H62.3438C62.3438 31.3646 60.9115 27.7708 58.0469 25.2188C55.2344 22.6667 51.4062 21.3906 46.5625 21.3906C41.6667 21.3906 37.7865 22.4844 34.9219 24.6719C32.1094 26.8073 30.7031 29.5417 30.7031 32.875C30.7031 35.7917 32.2656 38.4479 35.3906 40.8438C38.5156 43.1875 44.0104 45.6354 51.875 48.1875C59.7396 50.6875 66.1979 53.3958 71.25 56.3125C83.5417 63.3958 89.6875 73.1615 89.6875 85.6094C89.6875 95.5573 85.9375 103.37 78.4375 109.047C70.9375 114.724 60.651 117.562 47.5781 117.562C38.3594 117.562 30 115.922 22.5 112.641C15.0521 109.307 9.42708 104.776 5.625 99.0469C1.875 93.2656 0 86.625 0 79.125H27.5C27.5 85.2188 29.0625 89.724 32.1875 92.6406C35.3646 95.5052 40.4948 96.9375 47.5781 96.9375C52.1094 96.9375 55.6771 95.974 58.2812 94.0469C60.9375 92.0677 62.2656 89.3073 62.2656 85.7656ZM201.047 23.4219H166.906V116H139.484V23.4219H105.969V2.25H201.047V23.4219ZM291.234 67.7969H248.109V94.9062H299.047V116H220.688V2.25H299.203V23.4219H248.109V47.4062H291.234V67.7969ZM362.359 85.0625L385.016 2.25H415.641L377.359 116H347.359L309.391 2.25H339.781L362.359 85.0625ZM502.547 67.7969H459.422V94.9062H510.359V116H432V2.25H510.516V23.4219H459.422V47.4062H502.547V67.7969ZM624.531 116H597.266L556.953 45.2188V116H529.531V2.25H556.953L597.188 73.0312V2.25H624.531V116Z"
              fill="#F8D473"
            />
          </svg>
        </div>
        <div class="d-none d-sm-none d-md-block">
          <svg
            width="1192"
            height="175"
            viewBox="0 0 1192 175"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M85.2656 118.766C85.2656 114.755 83.8333 111.63 80.9688 109.391C78.1562 107.151 73.1823 104.833 66.0469 102.438C58.9115 100.042 53.0781 97.724 48.5469 95.4844C33.8073 88.2448 26.4375 78.2969 26.4375 65.6406C26.4375 59.3385 28.2604 53.7917 31.9062 49C35.6042 44.1562 40.8125 40.4062 47.5312 37.75C54.25 35.0417 61.8021 33.6875 70.1875 33.6875C78.3646 33.6875 85.6823 35.1458 92.1406 38.0625C98.651 40.9792 103.703 45.1458 107.297 50.5625C110.891 55.9271 112.688 62.0729 112.688 69H85.3438C85.3438 64.3646 83.9115 60.7708 81.0469 58.2188C78.2344 55.6667 74.4062 54.3906 69.5625 54.3906C64.6667 54.3906 60.7865 55.4844 57.9219 57.6719C55.1094 59.8073 53.7031 62.5417 53.7031 65.875C53.7031 68.7917 55.2656 71.4479 58.3906 73.8438C61.5156 76.1875 67.0104 78.6354 74.875 81.1875C82.7396 83.6875 89.1979 86.3958 94.25 89.3125C106.542 96.3958 112.688 106.161 112.688 118.609C112.688 128.557 108.938 136.37 101.438 142.047C93.9375 147.724 83.651 150.562 70.5781 150.562C61.3594 150.562 53 148.922 45.5 145.641C38.0521 142.307 32.4271 137.776 28.625 132.047C24.875 126.266 23 119.625 23 112.125H50.5C50.5 118.219 52.0625 122.724 55.1875 125.641C58.3646 128.505 63.4948 129.938 70.5781 129.938C75.1094 129.938 78.6771 128.974 81.2812 127.047C83.9375 125.068 85.2656 122.307 85.2656 118.766ZM224.047 56.4219H189.906V149H162.484V56.4219H128.969V35.25H224.047V56.4219ZM314.234 100.797H271.109V127.906H322.047V149H243.688V35.25H322.203V56.4219H271.109V80.4062H314.234V100.797ZM385.359 118.062L408.016 35.25H438.641L400.359 149H370.359L332.391 35.25H362.781L385.359 118.062ZM525.547 100.797H482.422V127.906H533.359V149H455V35.25H533.516V56.4219H482.422V80.4062H525.547V100.797ZM647.531 149H620.266L579.953 78.2188V149H552.531V35.25H579.953L620.188 106.031V35.25H647.531V149Z"
              fill="#F8D473"
            />
            <g id="wiryahalim" class="hidden-sm-down">
              <path
                d="M750.092 74.6953L757.748 37.2344H766.327L754.843 87H746.571L737.104 50.667L727.431 87H719.125L707.641 37.2344H716.22L723.944 74.627L733.446 37.2344H740.692L750.092 74.6953ZM785.276 87H776.663V37.2344H785.276V87ZM817.692 67.8252H808.054V87H799.406V37.2344H816.906C822.648 37.2344 827.08 38.5218 830.202 41.0967C833.324 43.6715 834.885 47.3971 834.885 52.2734C834.885 55.6003 834.076 58.3916 832.458 60.6475C830.863 62.8805 828.63 64.6009 825.759 65.8086L836.936 86.5557V87H827.673L817.692 67.8252ZM808.054 60.8867H816.94C819.857 60.8867 822.136 60.1576 823.776 58.6992C825.417 57.2181 826.237 55.2015 826.237 52.6494C826.237 49.9834 825.474 47.9212 823.947 46.4629C822.443 45.0046 820.188 44.2526 817.18 44.207H808.054V60.8867ZM861.183 60.8184L872.633 37.2344H882.203L865.523 68.6797V87H856.842V68.6797L840.128 37.2344H849.732L861.183 60.8184ZM913.833 75.4131H894.556L890.522 87H881.533L900.332 37.2344H908.091L926.924 87H917.9L913.833 75.4131ZM896.982 68.4404H911.406L904.194 47.7959L896.982 68.4404ZM936.098 87V37.2344H950.795C955.193 37.2344 959.089 38.2142 962.484 40.1738C965.902 42.1335 968.546 44.9134 970.414 48.5137C972.283 52.1139 973.217 56.2383 973.217 60.8867V63.3818C973.217 68.0986 972.271 72.2458 970.38 75.8232C968.511 79.4007 965.834 82.1579 962.348 84.0947C958.884 86.0316 954.908 87 950.419 87H936.098ZM944.745 44.207V80.0957H950.385C954.919 80.0957 958.394 78.6829 960.81 75.8574C963.248 73.0091 964.49 68.9303 964.535 63.6211V60.8525C964.535 55.4521 963.362 51.3278 961.015 48.4795C958.668 45.6312 955.261 44.207 950.795 44.207H944.745ZM994.456 87H985.843V37.2344H994.456V87ZM1048.06 87H1039.42L1017.23 51.6924V87H1008.59V37.2344H1017.23L1039.48 72.6787V37.2344H1048.06V87ZM1090.25 75.4131H1070.98L1066.94 87H1057.96L1076.75 37.2344H1084.51L1103.35 87H1094.32L1090.25 75.4131ZM1073.4 68.4404H1087.83L1080.62 47.7959L1073.4 68.4404ZM1144.38 44.207H1128.86V87H1120.28V44.207H1104.9V37.2344H1144.38V44.207ZM1178.19 75.4131H1158.92L1154.88 87H1145.89L1164.69 37.2344H1172.45L1191.28 87H1182.26L1178.19 75.4131ZM1161.34 68.4404H1175.77L1168.55 47.7959L1161.34 68.4404Z"
                fill="#F8D473"
              />
              <path
                d="M750.57 153H741.957V130.886H719.706V153H711.059V103.234H719.706V123.947H741.957V103.234H750.57V153ZM792.796 141.413H773.519L769.485 153H760.496L779.295 103.234H787.054L805.887 153H796.863L792.796 141.413ZM775.945 134.44H790.369L783.157 113.796L775.945 134.44ZM823.708 146.096H846.301V153H815.061V103.234H823.708V146.096ZM865.558 153H856.944V103.234H865.558V153ZM890.898 103.234L905.254 141.379L919.575 103.234H930.752V153H922.139V136.594L922.993 114.65L908.296 153H902.109L887.446 114.685L888.301 136.594V153H879.688V103.234H890.898Z"
                fill="#F8D473"
              />
            </g>
          </svg>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="{% url 'about' %}" style="font-size: 1.2rem;" class="mx-3"><ins>About me</ins> </a>
          <a href="{%url 'record' %}" style="font-size: 1.2rem;" class="mx-3"><ins>Track Record</ins></a>
          <a href="{% url 'gallery' %}" style="font-size: 1.2rem;" class="mx-3"><ins>See Panoramas</ins></a>
        </div>
      </div>
    </main>
    <div class="decorator">
      <svg width="363" height="646" viewBox="0 0 363 646" fill="none" xmlns="http://www.w3.org/2000/svg" class="d-sm-block d-md-none">
        <path d="M263.175 -0.0407233C263.175 13.1916 251.663 23.9186 237.462 23.9186C223.262 23.9186 211.75 13.1916 211.75 -0.0407233C211.75 -13.2731 223.262 -24 237.462 -24C251.663 -24 263.175 -13.2731 263.175 -0.0407233Z" fill="#FE9270"/>
        <path d="M255.182 0.0834258C255.182 9.13353 247.308 16.4701 237.596 16.4701C227.884 16.4701 220.01 9.13353 220.01 0.0834258C220.01 -8.96667 227.884 -16.3032 237.596 -16.3032C247.308 -16.3032 255.182 -8.96667 255.182 0.0834258Z" fill="#1B1C20"/>
        <path d="M317.591 524.787L269.429 511.752L234.743 551.523L248.224 604.327L296.386 617.363L331.072 577.595L317.591 524.787Z" fill="#FF5E6C"/>
        <path d="M265.683 622.36L265.289 622.257L265.192 621.857L252.731 570.389L252.65 570.053L252.871 569.797L286.73 530.513L286.993 530.208L287.387 530.311L333.698 542.489L334.092 542.593L334.189 542.993L346.65 594.457L346.732 594.794L346.511 595.05L312.651 634.337L312.388 634.642L311.994 634.538L265.683 622.36ZM264.3 623.58L312.674 636.301L348.127 595.16L335.081 541.27L286.707 528.549L251.255 569.686L264.3 623.58Z" fill="#242C36" stroke="white"/>
        <path d="M77.2036 99.082L48.4714 91.2604L62.5197 58.8001L91.2516 66.6208L77.2036 99.082Z" fill="#FFCB7C"/>
        <path d="M70.2963 78.6908L98.4447 86.3526L112.207 54.552L84.0594 46.8896L70.2963 78.6908ZM98.7429 87.1706L69.4276 79.1911L83.7612 46.0717L113.075 54.0517L98.7429 87.1706Z" fill="#FA0404" stroke="#FF5E6C" stroke-width="3"/>
        <path d="M27.518 103.329L55.6654 110.992L69.4275 79.1912L41.2801 71.5288L27.518 103.329ZM55.9636 111.81L26.6493 103.83L40.9819 70.7108L70.2972 78.6904L55.9636 111.81Z" fill="#FA0404" stroke="#FF5E6C" stroke-width="3"/>
        <path d="M307.422 154.455L307.035 154.393L306.9 154.026L295.578 123.192L295.455 122.858L295.664 122.57L314.624 96.5159L314.864 96.186L315.267 96.2496L345.544 101.03L345.93 101.091L346.065 101.458L357.393 132.298L357.516 132.632L357.306 132.92L338.347 158.968L338.107 159.298L337.704 159.235L307.422 154.455ZM304.382 158.188L339.677 163.758L361.817 133.337L348.584 97.2963L313.289 91.7267L291.148 122.152L304.382 158.188Z" fill="#62BFA1" stroke="white"/>
        <path d="M77.6416 505.233L52.1813 526.798L26.721 548.36L26.721 505.233L26.721 462.107L52.1813 483.671L77.6416 505.233Z" fill="#F78769"/>
        <path d="M26.7207 462.107L1.26032 483.671L-24.2001 505.234L-24.2001 462.107L-24.2001 418.98L1.26031 440.543L26.7207 462.107Z" fill="#F78769"/>
        <path d="M26.7207 548.361L1.26032 569.923L-24.2001 591.487L-24.2001 548.361L-24.2001 505.234L1.26031 526.796L26.7207 548.361Z" fill="#F78769"/>
        <path d="M32.3455 644.772L21.79 629.421L13.4666 643.706L12.1001 639.871L21.6836 623.433L32.2547 638.806L41.4215 623.433L51.7852 638.806L61.1615 623.435L71.3158 638.806L80.9027 623.435L90.8464 638.806L100.642 623.435L110.376 638.806L119.73 624.435L121 628.419L110.359 644.772L100.637 629.421L90.8553 644.772L80.9259 629.421L71.3524 644.772L61.2136 629.421L51.8506 644.772L41.5024 629.421L32.3455 644.772Z" fill="#F7D579"/>
        <path d="M156.099 620.153C151.829 618.978 148.512 615.649 146.998 611.019L146.477 609.424C145.369 606.035 142.94 603.595 139.813 602.735C136.687 601.875 133.456 602.755 130.953 605.152L130.019 606.045C126.599 609.319 122.192 610.522 117.921 609.347C113.652 608.172 110.336 604.844 108.822 600.213L108.231 598.398C107.122 595.008 104.692 592.57 101.565 591.709C98.4385 590.849 95.2083 591.731 92.7056 594.126L92.0161 594.786C88.5964 598.059 84.1856 599.261 79.9164 598.086C75.6471 596.911 72.3322 593.582 70.8192 588.953L70.5846 588.242C69.4762 584.848 67.047 582.408 63.9216 581.548C60.7932 580.687 57.5645 581.57 55.06 583.966L52.3837 586.526L50.0986 583.469L52.7744 580.911C56.1922 577.639 60.6019 576.435 64.8711 577.61C69.1389 578.784 72.4553 582.115 73.9679 586.745L74.2025 587.456C75.3113 590.848 77.7405 593.288 80.8659 594.148C83.9943 595.009 87.2241 594.128 89.7272 591.732L90.4182 591.071C93.836 587.8 98.2442 586.596 102.513 587.77C106.783 588.945 110.1 592.274 111.614 596.904L112.207 598.718C113.314 602.11 115.744 604.548 118.87 605.408C121.999 606.269 125.227 605.388 127.732 602.99L128.665 602.099C132.084 598.824 136.495 597.622 140.762 598.797L140.764 598.797C145.033 599.972 148.348 603.302 149.861 607.93L150.383 609.524C151.492 612.914 153.92 615.352 157.049 616.213C160.175 617.074 163.404 616.193 165.908 613.796L168.059 611.738C171.477 608.464 175.887 607.262 180.156 608.437C184.425 609.612 187.742 612.94 189.256 617.571C190.364 620.962 192.793 623.4 195.92 624.26C199.049 625.121 202.277 624.24 204.781 621.844L206.566 620.134C209.986 616.861 214.395 615.659 218.663 616.833C222.932 618.008 226.249 621.337 227.763 625.967L229.291 630.64C230.399 634.03 232.828 636.468 235.955 637.329C239.082 638.189 242.312 637.309 244.815 634.912L246.926 632.891L249.213 635.951L247.103 637.968C243.684 641.24 239.275 642.442 235.006 641.267C230.736 640.092 227.42 636.764 225.907 632.133L224.379 627.461C223.27 624.07 220.842 621.633 217.713 620.772C214.586 619.911 211.358 620.792 208.854 623.188L207.069 624.898C203.649 628.171 199.24 629.373 194.971 628.198C190.701 627.023 187.384 623.695 185.872 619.065C184.763 615.674 182.335 613.236 179.206 612.375C176.079 611.515 172.85 612.395 170.346 614.792L168.195 616.852C164.776 620.125 160.366 621.327 156.099 620.153Z" fill="#7070AD"/>
        </svg>        
      <svg
        width="1810"
        height="1080"
        viewBox="0 0 1810 1080"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="d-none d-sm-none d-md-block"
      >
        <path
          d="M145.943 952L171.93 983.995L197.914 1015.99H145.943H93.9712L119.958 983.995L145.943 952Z"
          fill="#F78769"
        />
        <path
          d="M93.9714 1015.99L119.959 1047.99L145.943 1079.98H93.9714H42L67.9843 1047.99L93.9714 1015.99Z"
          fill="#F78769"
        />
        <path
          d="M197.915 1015.99L223.899 1047.99L249.886 1079.98H197.915H145.943L171.928 1047.99L197.915 1015.99Z"
          fill="#F78769"
        />
        <path
          d="M536.944 96.9815L510.957 64.9862L484.972 32.9909H536.944H588.915L562.928 64.9862L536.944 96.9815Z"
          fill="#F78769"
        />
        <path
          d="M588.915 32.9907L562.928 0.995339L536.944 -31H588.915H640.886L614.902 0.995339L588.915 32.9907Z"
          fill="#F78769"
        />
        <path
          d="M484.971 32.9907L458.987 0.995339L433 -31H484.971H536.943L510.959 0.995339L484.971 32.9907Z"
          fill="#F78769"
        />
        <path
          d="M1147.28 861.133C1137.99 861.133 1129.59 856.295 1124.22 847.855L1122.38 844.947C1118.45 838.771 1112.29 835.224 1105.49 835.224C1098.69 835.224 1092.53 838.767 1088.61 844.947L1087.14 847.251C1081.77 855.694 1073.37 860.533 1064.08 860.533C1054.8 860.533 1046.4 855.694 1041.03 847.254L1038.93 843.946C1035 837.766 1028.85 834.222 1022.04 834.222C1015.24 834.222 1009.09 837.769 1005.16 843.946L1004.08 845.649C998.711 854.089 990.304 858.927 981.017 858.927C971.73 858.927 963.33 854.085 957.967 845.649L957.138 844.354C953.208 838.167 947.052 834.62 940.254 834.62C933.448 834.62 927.296 838.167 923.365 844.347L919.165 850.95L913 846.086L917.2 839.487C922.563 831.051 930.967 826.209 940.254 826.209C949.537 826.209 957.941 831.051 963.304 839.491L964.132 840.785C968.063 846.969 974.218 850.516 981.017 850.516C987.822 850.516 993.978 846.972 997.905 840.792L998.99 839.089C1004.35 830.653 1012.75 825.811 1022.04 825.811C1031.33 825.811 1039.73 830.649 1045.1 839.089L1047.2 842.394C1051.13 848.578 1057.28 852.122 1064.08 852.122C1070.89 852.122 1077.04 848.578 1080.97 842.394L1082.44 840.095C1087.8 831.651 1096.21 826.813 1105.49 826.813H1105.49C1114.78 826.813 1123.18 831.655 1128.54 840.091L1130.39 842.995C1134.32 849.174 1140.47 852.718 1147.28 852.718C1154.08 852.718 1160.23 849.174 1164.17 842.995L1167.54 837.686C1172.9 829.246 1181.31 824.408 1190.59 824.408C1199.88 824.408 1208.28 829.246 1213.65 837.686C1217.58 843.866 1223.73 847.41 1230.54 847.41C1237.34 847.41 1243.49 843.866 1247.42 837.686L1250.22 833.278C1255.59 824.838 1263.99 820 1273.28 820C1282.56 820 1290.97 824.838 1296.33 833.278L1301.75 841.794C1305.68 847.974 1311.83 851.518 1318.63 851.518C1325.44 851.518 1331.59 847.974 1335.52 841.794L1338.83 836.583L1345 841.451L1341.69 846.654C1336.32 855.09 1327.92 859.929 1318.63 859.929C1309.35 859.929 1300.94 855.09 1295.58 846.65L1290.16 838.135C1286.23 831.955 1280.08 828.411 1273.28 828.411C1266.47 828.411 1260.32 831.955 1256.39 838.135L1253.59 842.543C1248.23 850.983 1239.82 855.821 1230.54 855.821C1221.25 855.821 1212.84 850.983 1207.48 842.543C1203.55 836.363 1197.4 832.819 1190.59 832.819C1183.79 832.819 1177.64 836.363 1173.71 842.543L1170.33 847.855C1164.97 856.295 1156.56 861.133 1147.28 861.133Z"
          fill="#7070AD"
        />
        <path
          d="M457.891 913.039L436.05 898.623L418.828 912.039L416 908.437L435.83 893L457.703 907.437L476.671 893L498.116 907.437L517.517 893.002L538.528 907.437L558.365 893.002L578.94 907.437L599.208 893.002L619.35 907.437L638.705 893.941L641.333 897.682L619.316 913.039L599.199 898.623L578.958 913.039L558.413 898.623L538.603 913.039L517.625 898.623L498.251 913.039L476.838 898.623L457.891 913.039Z"
          fill="#F7D579"
        />
        <path
          d="M1754.38 179.74L1675.34 140.741L1710.38 69.7418L1652.14 41.0071L1617.11 112.006L1538.08 73.0129L1512.27 125.326L1591.3 164.32L1556.27 235.31L1614.5 264.045L1649.53 193.055L1728.56 232.053L1754.38 179.74Z"
          fill="#7070AD"
        />
        <path
          d="M1720.85 788.155L1626.73 764.719L1558.83 836.668L1585.06 932.049L1679.18 955.485L1747.08 883.542L1720.85 788.155Z"
          fill="#FF5E6C"
        />
        <path
          d="M1620.26 962.92L1619.89 962.826L1619.78 962.45L1594.33 869.906L1594.23 869.544L1594.49 869.272L1660.36 799.474L1660.63 799.191L1661.01 799.285L1752.32 822.021L1752.7 822.115L1752.8 822.491L1778.25 915.03L1778.35 915.392L1778.09 915.664L1712.22 985.467L1711.95 985.75L1711.57 985.656L1620.26 962.92ZM1616.91 966.01L1713.08 989.957L1782.48 916.419L1755.67 818.931L1659.5 794.984L1590.11 868.517L1616.91 966.01Z"
          fill="#242C36"
          stroke="white"
        />
        <path
          d="M881.93 207.567L815.062 166.183L747.953 195.88L747.715 266.986L814.584 308.37L881.692 278.673L881.93 207.567Z"
          fill="#8873D5"
        />
        <path
          d="M1134.89 121.626L1134.5 121.569L1134.36 121.208L1123.13 92.2521L1123 91.9023L1123.23 91.6048L1142.03 67.1378L1142.27 66.8266L1142.66 66.8847L1172.68 71.3736L1173.07 71.4309L1173.21 71.7919L1184.44 100.753L1184.58 101.103L1184.35 101.4L1165.54 125.862L1165.31 126.173L1164.92 126.115L1134.89 121.626ZM1131.86 125.05L1166.88 130.283L1188.81 101.744L1175.71 67.9496L1140.69 62.7173L1118.76 91.2613L1131.86 125.05Z"
          fill="#62BFA1"
          stroke="white"
        />
        <g filter="url(#filter0_d)">
          <path
            d="M46.2844 560.974L84.781 545.452L60.3306 511.912L21.835 527.431L46.2844 560.974ZM96.8904 548.919L43.5824 570.412L9.72558 523.964L63.0317 502.477L96.8904 548.919Z"
            fill="#62BFA1"
          />
        </g>
        <path
          d="M170.444 314.237L106.865 277.6L160.655 213.631L224.234 250.266L170.444 314.237Z"
          fill="#FFCB7C"
        />
        <path
          d="M166.742 263.657L229.03 299.547L281.726 236.878L219.44 200.987L166.742 263.657ZM229.229 301.59L164.359 264.212L219.241 198.944L284.109 236.323L229.229 301.59Z"
          fill="#FA0404"
          stroke="#FF5E6C"
          stroke-width="3"
        />
        <path
          d="M49.3767 290.99L111.662 326.881L164.358 264.212L102.072 228.32L49.3767 290.99ZM111.861 328.924L46.9936 291.545L101.874 226.278L166.744 263.656L111.861 328.924Z"
          fill="#FA0404"
          stroke="#FF5E6C"
          stroke-width="3"
        />
        <path
          d="M1718 431.5C1718 456.629 1697.63 477 1672.5 477C1647.37 477 1627 456.629 1627 431.5C1627 406.371 1647.37 386 1672.5 386C1697.63 386 1718 406.371 1718 431.5Z"
          fill="#FE9270"
        />
        <path
          d="M1703.85 431.736C1703.85 448.922 1689.92 462.855 1672.74 462.855C1655.55 462.855 1641.62 448.922 1641.62 431.736C1641.62 414.549 1655.55 400.617 1672.74 400.617C1689.92 400.617 1703.85 414.549 1703.85 431.736Z"
          fill="#1B1C20"
        />
        <defs>
          <filter
            id="filter0_d"
            x="5.72558"
            y="502.477"
            width="95.1648"
            height="75.9348"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="2" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
    </div>
    {% endblock %}

