{% extends "includes/base.html" %}
{% load static %}
{% block title %}Track Record{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'story3/style.css' %}" />
    {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story3</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'story3/style.css' %}" />
  </head>
  <body>
    <div id="record">
      <div class="container-page">
        <div class="about-container">
          <h2 class="page-title">Track Record</h2>
            <div class="timeline-container">
              <img src="{% static 'timeline.png' %}" id="timeline" />

        </div>
      </div>
    </div>
    <div class="decorator">
      <svg
        width="1755"
        height="972"
        viewBox="0 0 1755 972"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="d-none d-sm-none d-md-block"
      >
        <path
          d="M220.293 315.449L156.855 345.511L94.5374 214.005L157.976 183.943L220.293 315.449Z"
          fill="#FF5E6C"
        />
        <path
          d="M162.016 261.566L221.555 233.352L160.149 103.771L100.611 131.985L162.016 261.566ZM226.366 233.427L159.028 265.337L95.8 131.91L163.138 100L226.366 233.427Z"
          fill="#242C36"
          stroke="#FE9270"
          stroke-width="3"
        />
        <path
          d="M165.5 970L142 940.501L165.5 911L189 940.501L165.5 970Z"
          fill="#8873D5"
        />
        <path
          d="M214 970L190 940.501L214 911L238 940.501L214 970Z"
          fill="#FFCB7C"
        />
        <path d="M71 970L47 940.501L71 911L95 940.501L71 970Z" fill="#FFCB7C" />
        <path
          d="M259.5 970L236 940.501L259.5 911L283 940.501L259.5 970Z"
          fill="#FF5E6C"
        />
        <path
          d="M165.114 940.5L188 968.419L210.886 940.5L188 912.581L165.114 940.5ZM188 971L163 940.5L188 910L213 940.5L188 971Z"
          fill="#242C36"
        />
        <path
          d="M213.114 940.5L235.999 968.419L258.884 940.5L235.999 912.581L213.114 940.5ZM235.999 971L211 940.5L235.999 910L261 940.5L235.999 971Z"
          fill="#242C36"
        />
        <path
          d="M259.114 941.5L282 969.419L304.886 941.5L282 913.581L259.114 941.5ZM282 972L257 941.5L282 911L307 941.5L282 972Z"
          fill="#242C36"
        />
        <path d="M24 970L0 940.501L24 911L48 940.501L24 970Z" fill="#8873D5" />
        <path
          d="M117.5 970L94 940.501L117.5 911L141 940.501L117.5 970Z"
          fill="#FF5E6C"
        />
        <path
          d="M23.1157 940.5L46.0011 968.419L68.8865 940.5L46.0011 912.581L23.1157 940.5ZM46.0011 971L21 940.5L46.0011 910L71 940.5L46.0011 971Z"
          fill="#242C36"
        />
        <path
          d="M71.1157 940.5L93.9989 968.419L116.886 940.5L93.9989 912.581L71.1157 940.5ZM93.9989 971L69 940.5L93.9989 910L119 940.5L93.9989 971Z"
          fill="#242C36"
        />
        <path
          d="M117.114 941.5L139.999 969.419L162.884 941.5L139.999 913.581L117.114 941.5ZM139.999 972L115 941.5L139.999 911L165 941.5L139.999 972Z"
          fill="#242C36"
        />
        <path
          d="M1550.41 47.7967L1512 34.0525L1524.11 0.204018L1562.52 13.9482L1550.41 47.7967Z"
          fill="#62BFA1"
        />
        <path
          d="M1622.81 73.4726L1584.41 59.7314L1596.52 25.883L1634.92 39.6241L1622.81 73.4726Z"
          fill="#62BFA1"
        />
        <path
          d="M1697.49 100.425L1659.08 86.6804L1671.19 52.8319L1709.61 66.5761L1697.49 100.425Z"
          fill="#62BFA1"
        />
        <path
          d="M1625.94 924.634C1619.91 925.337 1613.76 919.899 1609.04 909.708L1607.41 906.198C1603.96 898.74 1599.45 894.753 1595.04 895.268C1590.63 895.783 1587.16 900.7 1585.52 908.757L1584.91 911.761C1582.67 922.769 1577.93 929.481 1571.91 930.185C1565.88 930.889 1559.73 925.451 1555.01 915.26L1553.16 911.264C1549.71 903.802 1545.2 899.819 1540.79 900.335C1536.38 900.85 1532.91 905.771 1531.27 913.824L1530.82 916.044C1528.58 927.049 1523.83 933.761 1517.81 934.465C1511.79 935.169 1505.63 929.726 1500.92 919.539L1500.19 917.976C1496.74 910.505 1492.22 906.518 1487.82 907.033C1483.4 907.549 1479.94 912.469 1478.29 920.527L1476.54 929.136L1471.83 923.497L1473.58 914.892C1475.82 903.892 1480.56 897.176 1486.58 896.472C1492.6 895.768 1498.76 901.211 1503.48 911.402L1504.2 912.969C1507.66 920.431 1512.17 924.419 1516.58 923.904C1520.99 923.388 1524.46 918.472 1526.1 910.414L1526.55 908.193C1528.79 897.194 1533.53 890.478 1539.55 889.774C1545.57 889.07 1551.73 894.508 1556.45 904.699L1558.3 908.69C1561.75 916.156 1566.26 920.14 1570.67 919.624C1575.08 919.108 1578.55 914.192 1580.19 906.13L1580.81 903.131C1583.04 892.123 1587.78 885.41 1593.8 884.707L1593.81 884.707C1599.83 884.003 1605.98 889.446 1610.7 899.632L1612.32 903.138C1615.78 910.6 1620.29 914.584 1624.7 914.068C1629.11 913.552 1632.58 908.636 1634.22 900.579L1635.63 893.657C1637.87 882.653 1642.61 875.941 1648.63 875.237C1654.65 874.534 1660.81 879.972 1665.53 890.163C1668.98 897.625 1673.49 901.608 1677.9 901.092C1682.31 900.577 1685.78 895.661 1687.42 887.603L1688.59 881.856C1690.83 870.852 1695.57 864.14 1701.59 863.436C1707.61 862.732 1713.77 868.17 1718.49 878.361L1723.25 888.644C1726.7 896.106 1731.21 900.089 1735.62 899.574C1740.03 899.058 1743.5 894.142 1745.14 886.084L1746.53 879.29L1751.24 884.934L1749.86 891.719C1747.62 902.719 1742.88 909.431 1736.86 910.135C1730.84 910.839 1724.68 905.4 1719.96 895.214L1715.2 884.927C1711.75 877.465 1707.24 873.481 1702.82 873.997C1698.41 874.513 1694.95 879.429 1693.3 887.486L1692.14 893.233C1689.9 904.238 1685.16 910.95 1679.14 911.654C1673.11 912.358 1666.96 906.919 1662.24 896.728C1658.78 889.266 1654.28 885.283 1649.86 885.799C1645.45 886.314 1641.98 891.23 1640.34 899.288L1638.93 906.214C1636.69 917.218 1631.96 923.93 1625.94 924.634Z"
          fill="#FFCB7C"
        />
        <path
          d="M542 40.5C542 62.8675 523.868 81 501.5 81C479.132 81 461 62.8675 461 40.5C461 18.1325 479.132 0 501.5 0C523.868 0 542 18.1325 542 40.5Z"
          fill="#62BFA1"
        />
        <path
          d="M529.409 40.7097C529.409 56.0077 517.008 68.4092 501.71 68.4092C486.412 68.4092 474.01 56.0077 474.01 40.7097C474.01 25.4117 486.412 13.0103 501.71 13.0103C517.008 13.0103 529.409 25.4117 529.409 40.7097Z"
          fill="#1B1C20"
        />
        <path
          d="M1370.5 169.607L1378.33 138.805L1386.17 108L1403.67 119.609L1421.17 131.219L1395.83 150.415L1370.5 169.607Z"
          fill="#FF5E6C"
        />
        <path
          d="M1387.91 196.583L1417.43 184.79L1446.94 173L1447.85 193.98L1448.77 214.96L1418.34 205.773L1387.91 196.583Z"
          fill="#FF5E6C"
        />
      </svg>
    </div>
  {% endblock %}
