{% extends "includes/base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card jus">
                <div class="card-body">
                    <h3 class="card-title">All Courses</h3>
                    <ol>
                    {% for p in pelajaran %}
                    <li><a href="{% url 'view-matkul' p.matkul%}">{{ p.matkul }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}