{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-body">
                    <h3 class="card-title">{{ matkul.matkul }}</h3>
                    <div>
                        <h5>Dosen</h5>
                        <span>{{ matkul.dosen }}</span>
                    </div>
                    <div>
                        <h5>Kelas</h5>
                        <span>{{ matkul.kelas }}</span>
                    </div>
                    <div>
                        <h5>SKS</h5>
                        <span>{{ matkul.sks }}</span>
                    </div>
                    <div>
                        <h5>Semester</h5>
                        <span>{{ matkul.semester }}</span>
                    </div>
                    <div>
                        <h5>Deskripsi</h5>
                        <span>{{ matkul.deskripsi }}</span>
                    </div>
                    <div>
                        <h5>Tugas</h5>
                        <ul class="list-group">
                            {% for tj in tugas_jauh %}
                            <li class="list-group-item bg-success">{{ tj.nama }} | {{ tj.deadline }}</li>
                            {% endfor %}
                            {% for td in tugas_deket %}
                            <li class="list-group-item bg-primary">{{ td.nama }} | {{ td.deadline }}</li>
                            {% endfor %}
                            {% for tl in tugas_lewat %}
                            <li class="list-group-item bg-danger">{{ tl.nama }} | {{ tl.deadline }}</li>
                            {% endfor %}
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}