{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-body">
                    <h3 class="card-title">Tambah Matkul</h3>
                    <form action="{% url 'tambah-pelajaran'%}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Hapus Matkul</h3>
                    <form action="{% url 'hapus-pelajaran'%}" class = "border-3" method="POST">
                        {% csrf_token %}
                        {{ delete|crispy }}
                        <button type="submit" class="btn btn-success btn-dark btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}