{% extends "includes/base.html" %}
{% load static %}
{% block title %}Track Record{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'story1/styles.css' %}" />
    {% endblock %}
{% block content %}
    <div id="hero">
      <div id="title-container">
        <!-- for SEO purpose only -->
        <h1 style="display: none;">Steven Wiryadinata Halim</h1>
        <svg
          width="737"
          height="122"
          viewBox="0 0 737 122"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M59.958 100.703C59.958 98.8835 59.0059 97.4235 57.1016 96.3232C55.1973 95.223 51.5791 94.0804 46.2471 92.8955C40.915 91.7106 36.514 90.166 33.0439 88.2617C29.5739 86.3151 26.929 83.9665 25.1094 81.2158C23.2897 78.4652 22.3799 75.3125 22.3799 71.7578C22.3799 65.4525 24.9824 60.2686 30.1875 56.2061C35.3926 52.1012 42.2057 50.0488 50.627 50.0488C59.6829 50.0488 66.9616 52.1012 72.4629 56.2061C77.9642 60.3109 80.7148 65.7064 80.7148 72.3926H59.2598C59.2598 66.8913 56.361 64.1406 50.5635 64.1406C48.3206 64.1406 46.4375 64.7754 44.9141 66.0449C43.3906 67.2721 42.6289 68.8167 42.6289 70.6787C42.6289 72.583 43.5599 74.1276 45.4219 75.3125C47.2839 76.4974 50.2461 77.4707 54.3086 78.2324C58.4134 78.9941 62.0104 79.904 65.0996 80.9619C75.4251 84.5166 80.5879 90.8854 80.5879 100.068C80.5879 106.331 77.7949 111.431 72.209 115.366C66.6654 119.302 59.4714 121.27 50.627 121.27C44.7448 121.27 39.4974 120.212 34.8848 118.096C30.2721 115.98 26.6751 113.102 24.0938 109.463C21.5124 105.824 20.2217 101.994 20.2217 97.9736H40.2168C40.3014 101.147 41.3594 103.475 43.3906 104.956C45.4219 106.395 48.0244 107.114 51.1982 107.114C54.1182 107.114 56.2975 106.522 57.7363 105.337C59.2174 104.152 59.958 102.607 59.958 100.703ZM122.063 34.2432V51.3184H133.362V66.1719H122.063V97.5928C122.063 100.174 122.529 101.973 123.46 102.988C124.391 104.004 126.232 104.512 128.982 104.512C131.098 104.512 132.876 104.385 134.314 104.131V119.429C130.464 120.656 126.443 121.27 122.254 121.27C114.891 121.27 109.453 119.535 105.94 116.064C102.428 112.594 100.672 107.326 100.672 100.259V66.1719H91.9121V51.3184H100.672V34.2432H122.063ZM181.566 121.27C171.029 121.27 162.502 118.138 155.985 111.875C149.468 105.57 146.21 97.3812 146.21 87.3096V85.5322C146.21 78.5075 147.501 72.3079 150.082 66.9336C152.706 61.5592 156.514 57.4121 161.508 54.4922C166.501 51.5299 172.426 50.0488 179.281 50.0488C188.93 50.0488 196.547 53.0534 202.133 59.0625C207.719 65.0293 210.512 73.3659 210.512 84.0723V92.3877H167.982C168.744 96.2386 170.416 99.2643 172.997 101.465C175.578 103.665 178.922 104.766 183.026 104.766C189.797 104.766 195.087 102.396 198.896 97.6562L208.671 109.209C206.005 112.891 202.217 115.832 197.309 118.032C192.442 120.19 187.195 121.27 181.566 121.27ZM179.154 66.5527C172.891 66.5527 169.167 70.6999 167.982 78.9941H189.564V77.3438C189.649 73.916 188.782 71.2712 186.962 69.4092C185.142 67.5049 182.54 66.5527 179.154 66.5527ZM252.178 94.5459L263.032 51.3184H285.566L263.159 120H241.323L218.916 51.3184H241.514L252.178 94.5459ZM330.787 121.27C320.25 121.27 311.723 118.138 305.206 111.875C298.689 105.57 295.431 97.3812 295.431 87.3096V85.5322C295.431 78.5075 296.721 72.3079 299.303 66.9336C301.926 61.5592 305.735 57.4121 310.729 54.4922C315.722 51.5299 321.646 50.0488 328.502 50.0488C338.15 50.0488 345.768 53.0534 351.354 59.0625C356.939 65.0293 359.732 73.3659 359.732 84.0723V92.3877H317.203C317.965 96.2386 319.636 99.2643 322.218 101.465C324.799 103.665 328.142 104.766 332.247 104.766C339.018 104.766 344.308 102.396 348.116 97.6562L357.892 109.209C355.226 112.891 351.438 115.832 346.529 118.032C341.663 120.19 336.415 121.27 330.787 121.27ZM328.375 66.5527C322.112 66.5527 318.388 70.6999 317.203 78.9941H338.785V77.3438C338.87 73.916 338.002 71.2712 336.183 69.4092C334.363 67.5049 331.76 66.5527 328.375 66.5527ZM394.543 51.3184L395.241 59.3799C399.981 53.1592 406.519 50.0488 414.855 50.0488C422.007 50.0488 427.339 52.1859 430.852 56.46C434.406 60.734 436.247 67.1663 436.374 75.7568V120H414.919V76.6455C414.919 73.1755 414.221 70.6364 412.824 69.0283C411.428 67.3779 408.889 66.5527 405.207 66.5527C401.018 66.5527 397.907 68.2031 395.876 71.5039V120H374.484V51.3184H394.543Z"
            fill="#F8D473"
          />
          <path
            d="M488.621 68.6392L492.4 52.2256H497.607L491.125 76H486.731L481.633 59.6743L476.624 76H472.229L465.725 52.2256H470.933L474.778 68.4634L479.656 52.2256H483.677L488.621 68.6392ZM509.108 76H503.769V52.2256H509.108V76ZM503.439 46.0513C503.439 45.231 503.695 44.5498 504.208 44.0078C504.735 43.4658 505.482 43.1948 506.449 43.1948C507.416 43.1948 508.163 43.4658 508.69 44.0078C509.218 44.5498 509.481 45.231 509.481 46.0513C509.481 46.8569 509.218 47.5308 508.69 48.0728C508.163 48.6001 507.416 48.8638 506.449 48.8638C505.482 48.8638 504.735 48.6001 504.208 48.0728C503.695 47.5308 503.439 46.8569 503.439 46.0513ZM529.639 57.1035C528.936 56.9863 528.211 56.9277 527.464 56.9277C525.018 56.9277 523.37 57.8652 522.52 59.7402V76H517.181V52.2256H522.278L522.41 54.8843C523.699 52.8188 525.486 51.7861 527.771 51.7861C528.533 51.7861 529.163 51.8887 529.661 52.0938L529.639 57.1035ZM543.974 68.3535L548.808 52.2256H554.499L545.051 79.6035C543.601 83.6025 541.14 85.6021 537.668 85.6021C536.892 85.6021 536.035 85.4702 535.097 85.2065V81.0757L536.108 81.1416C537.456 81.1416 538.466 80.8926 539.14 80.3945C539.829 79.9111 540.371 79.0908 540.766 77.9336L541.535 75.8901L533.186 52.2256H538.942L543.974 68.3535ZM573.69 76C573.456 75.5459 573.25 74.8062 573.075 73.7808C571.375 75.5532 569.295 76.4395 566.834 76.4395C564.447 76.4395 562.499 75.7583 560.99 74.396C559.481 73.0337 558.727 71.3491 558.727 69.3423C558.727 66.8081 559.664 64.8672 561.539 63.5195C563.429 62.1572 566.124 61.4761 569.625 61.4761H572.899V59.916C572.899 58.6855 572.555 57.7041 571.866 56.9717C571.178 56.2246 570.13 55.8511 568.724 55.8511C567.508 55.8511 566.512 56.1587 565.736 56.7739C564.959 57.3745 564.571 58.1436 564.571 59.0811H559.232C559.232 57.7773 559.664 56.5615 560.528 55.4336C561.393 54.291 562.564 53.3975 564.044 52.7529C565.538 52.1084 567.201 51.7861 569.032 51.7861C571.815 51.7861 574.034 52.4893 575.689 53.8955C577.345 55.2871 578.194 57.25 578.238 59.7842V70.5068C578.238 72.6455 578.539 74.3521 579.139 75.6265V76H573.69ZM567.823 72.1548C568.878 72.1548 569.867 71.8984 570.79 71.3857C571.727 70.873 572.43 70.1846 572.899 69.3203V64.8379H570.021C568.043 64.8379 566.556 65.1821 565.56 65.8706C564.564 66.5591 564.066 67.5332 564.066 68.793C564.066 69.8184 564.403 70.6387 565.077 71.2539C565.765 71.8545 566.681 72.1548 567.823 72.1548ZM585.081 63.937C585.081 60.2749 585.93 57.3379 587.629 55.126C589.329 52.8994 591.606 51.7861 594.463 51.7861C596.982 51.7861 599.019 52.665 600.571 54.4229V42.25H605.911V76H601.077L600.813 73.5391C599.216 75.4727 597.085 76.4395 594.419 76.4395C591.636 76.4395 589.38 75.3188 587.651 73.0776C585.938 70.8364 585.081 67.7896 585.081 63.937ZM590.42 64.3984C590.42 66.8154 590.881 68.7051 591.804 70.0674C592.742 71.415 594.067 72.0889 595.781 72.0889C597.964 72.0889 599.561 71.1147 600.571 69.1665V59.0151C599.59 57.1108 598.008 56.1587 595.825 56.1587C594.097 56.1587 592.764 56.8472 591.826 58.2241C590.889 59.5864 590.42 61.6445 590.42 64.3984ZM619.411 76H614.071V52.2256H619.411V76ZM613.742 46.0513C613.742 45.231 613.998 44.5498 614.511 44.0078C615.038 43.4658 615.785 43.1948 616.752 43.1948C617.719 43.1948 618.466 43.4658 618.993 44.0078C619.521 44.5498 619.784 45.231 619.784 46.0513C619.784 46.8569 619.521 47.5308 618.993 48.0728C618.466 48.6001 617.719 48.8638 616.752 48.8638C615.785 48.8638 615.038 48.6001 614.511 48.0728C613.998 47.5308 613.742 46.8569 613.742 46.0513ZM632.449 52.2256L632.603 54.9722C634.361 52.8481 636.668 51.7861 639.524 51.7861C644.476 51.7861 646.995 54.6206 647.083 60.2896V76H641.744V60.5972C641.744 59.0884 641.414 57.9751 640.755 57.2573C640.11 56.5249 639.048 56.1587 637.569 56.1587C635.416 56.1587 633.812 57.1328 632.757 59.0811V76H627.417V52.2256H632.449ZM668.999 76C668.764 75.5459 668.559 74.8062 668.383 73.7808C666.684 75.5532 664.604 76.4395 662.143 76.4395C659.755 76.4395 657.807 75.7583 656.298 74.396C654.79 73.0337 654.035 71.3491 654.035 69.3423C654.035 66.8081 654.973 64.8672 656.848 63.5195C658.737 62.1572 661.433 61.4761 664.934 61.4761H668.208V59.916C668.208 58.6855 667.863 57.7041 667.175 56.9717C666.486 56.2246 665.439 55.8511 664.033 55.8511C662.817 55.8511 661.821 56.1587 661.044 56.7739C660.268 57.3745 659.88 58.1436 659.88 59.0811H654.541C654.541 57.7773 654.973 56.5615 655.837 55.4336C656.701 54.291 657.873 53.3975 659.353 52.7529C660.847 52.1084 662.509 51.7861 664.34 51.7861C667.124 51.7861 669.343 52.4893 670.998 53.8955C672.653 55.2871 673.503 57.25 673.547 59.7842V70.5068C673.547 72.6455 673.847 74.3521 674.448 75.6265V76H668.999ZM663.132 72.1548C664.187 72.1548 665.175 71.8984 666.098 71.3857C667.036 70.873 667.739 70.1846 668.208 69.3203V64.8379H665.329C663.352 64.8379 661.865 65.1821 660.869 65.8706C659.873 66.5591 659.375 67.5332 659.375 68.793C659.375 69.8184 659.711 70.6387 660.385 71.2539C661.074 71.8545 661.989 72.1548 663.132 72.1548ZM688.08 46.4468V52.2256H692.276V56.1807H688.08V69.4521C688.08 70.3604 688.255 71.0195 688.607 71.4297C688.973 71.8252 689.618 72.0229 690.541 72.0229C691.156 72.0229 691.778 71.9497 692.408 71.8032V75.9341C691.192 76.271 690.021 76.4395 688.893 76.4395C684.791 76.4395 682.74 74.1763 682.74 69.6499V56.1807H678.829V52.2256H682.74V46.4468H688.08ZM712.83 76C712.595 75.5459 712.39 74.8062 712.214 73.7808C710.515 75.5532 708.435 76.4395 705.974 76.4395C703.586 76.4395 701.638 75.7583 700.129 74.396C698.621 73.0337 697.866 71.3491 697.866 69.3423C697.866 66.8081 698.804 64.8672 700.679 63.5195C702.568 62.1572 705.264 61.4761 708.765 61.4761H712.039V59.916C712.039 58.6855 711.694 57.7041 711.006 56.9717C710.317 56.2246 709.27 55.8511 707.864 55.8511C706.648 55.8511 705.652 56.1587 704.875 56.7739C704.099 57.3745 703.711 58.1436 703.711 59.0811H698.372C698.372 57.7773 698.804 56.5615 699.668 55.4336C700.532 54.291 701.704 53.3975 703.184 52.7529C704.678 52.1084 706.34 51.7861 708.171 51.7861C710.955 51.7861 713.174 52.4893 714.829 53.8955C716.484 55.2871 717.334 57.25 717.378 59.7842V70.5068C717.378 72.6455 717.678 74.3521 718.279 75.6265V76H712.83ZM706.963 72.1548C708.018 72.1548 709.006 71.8984 709.929 71.3857C710.867 70.873 711.57 70.1846 712.039 69.3203V64.8379H709.16C707.183 64.8379 705.696 65.1821 704.7 65.8706C703.704 66.5591 703.206 67.5332 703.206 68.793C703.206 69.8184 703.542 70.6387 704.216 71.2539C704.905 71.8545 705.82 72.1548 706.963 72.1548Z"
            fill="#F8D473"
          />
          <path
            d="M472.998 98.8184C474.741 96.7969 476.946 95.7861 479.612 95.7861C484.68 95.7861 487.251 98.6792 487.324 104.465V120H481.985V104.663C481.985 103.022 481.626 101.865 480.908 101.191C480.205 100.503 479.165 100.159 477.788 100.159C475.649 100.159 474.053 101.111 472.998 103.015V120H467.659V86.25H472.998V98.8184ZM509.196 120C508.961 119.546 508.756 118.806 508.581 117.781C506.881 119.553 504.801 120.439 502.34 120.439C499.953 120.439 498.004 119.758 496.496 118.396C494.987 117.034 494.232 115.349 494.232 113.342C494.232 110.808 495.17 108.867 497.045 107.52C498.935 106.157 501.63 105.476 505.131 105.476H508.405V103.916C508.405 102.686 508.061 101.704 507.372 100.972C506.684 100.225 505.636 99.8511 504.23 99.8511C503.014 99.8511 502.018 100.159 501.242 100.774C500.465 101.375 500.077 102.144 500.077 103.081H494.738C494.738 101.777 495.17 100.562 496.034 99.4336C496.898 98.291 498.07 97.3975 499.55 96.7529C501.044 96.1084 502.707 95.7861 504.538 95.7861C507.321 95.7861 509.54 96.4893 511.195 97.8955C512.851 99.2871 513.7 101.25 513.744 103.784V114.507C513.744 116.646 514.044 118.352 514.645 119.626V120H509.196ZM503.329 116.155C504.384 116.155 505.373 115.898 506.295 115.386C507.233 114.873 507.936 114.185 508.405 113.32V108.838H505.526C503.549 108.838 502.062 109.182 501.066 109.871C500.07 110.559 499.572 111.533 499.572 112.793C499.572 113.818 499.909 114.639 500.583 115.254C501.271 115.854 502.187 116.155 503.329 116.155ZM527.266 120H521.927V86.25H527.266V120ZM541.03 120H535.69V96.2256H541.03V120ZM535.361 90.0513C535.361 89.231 535.617 88.5498 536.13 88.0078C536.657 87.4658 537.404 87.1948 538.371 87.1948C539.338 87.1948 540.085 87.4658 540.612 88.0078C541.14 88.5498 541.403 89.231 541.403 90.0513C541.403 90.8569 541.14 91.5308 540.612 92.0728C540.085 92.6001 539.338 92.8638 538.371 92.8638C537.404 92.8638 536.657 92.6001 536.13 92.0728C535.617 91.5308 535.361 90.8569 535.361 90.0513ZM554.134 96.2256L554.288 98.7085C555.958 96.7603 558.243 95.7861 561.144 95.7861C564.322 95.7861 566.498 97.002 567.669 99.4336C569.398 97.002 571.83 95.7861 574.964 95.7861C577.586 95.7861 579.535 96.5112 580.809 97.9614C582.098 99.4116 582.757 101.55 582.787 104.377V120H577.447V104.531C577.447 103.022 577.118 101.917 576.458 101.213C575.799 100.51 574.708 100.159 573.185 100.159C571.969 100.159 570.973 100.488 570.196 101.147C569.435 101.792 568.9 102.642 568.592 103.696L568.614 120H563.275V104.355C563.202 101.558 561.773 100.159 558.99 100.159C556.852 100.159 555.335 101.03 554.442 102.773V120H549.103V96.2256H554.134Z"
            fill="#F8D473"
          />
        </svg>
      </div>
      <div id="decoration">
        <svg
          width="1743"
          height="1080"
          viewBox="0 0 1743 1080"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M104.276 952.383L130.263 984.378L156.247 1016.37H104.276H52.3046L78.2917 984.378L104.276 952.383Z"
            fill="#F78769"
          />
          <path
            d="M52.3048 1016.37L78.2919 1048.37L104.276 1080.36H52.3048H0.333335L26.3177 1048.37L52.3048 1016.37Z"
            fill="#F78769"
          />
          <path
            d="M156.248 1016.37L182.233 1048.37L208.22 1080.36H156.248H104.277L130.261 1048.37L156.248 1016.37Z"
            fill="#F78769"
          />
          <path
            d="M438.944 100.56L412.957 68.5643L386.972 36.569H438.944H490.915L464.928 68.5643L438.944 100.56Z"
            fill="#F78769"
          />
          <path
            d="M490.915 36.5688L464.928 4.57347L438.943 -27.4219H490.915H542.886L516.902 4.57347L490.915 36.5688Z"
            fill="#F78769"
          />
          <path
            d="M386.971 36.5688L360.987 4.57347L335 -27.4219H386.971H438.943L412.959 4.57347L386.971 36.5688Z"
            fill="#F78769"
          />
          <path
            d="M1629.67 427.148V215.156H1911.69L1629.67 427.148Z"
            fill="#7070AD"
          />
          <path
            d="M1127.95 952.383C1118.66 952.383 1110.26 947.545 1104.89 939.105L1103.04 936.197C1099.11 930.021 1092.96 926.474 1086.16 926.474C1079.36 926.474 1073.2 930.017 1069.27 936.197L1067.81 938.501C1062.44 946.944 1054.04 951.783 1044.75 951.783C1035.46 951.783 1027.06 946.944 1021.7 938.504L1019.6 935.196C1015.67 929.016 1009.51 925.472 1002.71 925.472C995.908 925.472 989.753 929.019 985.825 935.196L984.744 936.899C979.377 945.339 970.971 950.177 961.684 950.177C952.397 950.177 943.996 945.335 938.633 936.899L937.805 935.604C933.875 929.417 927.719 925.87 920.92 925.87C914.115 925.87 907.963 929.417 904.032 935.597L899.832 942.2L893.667 937.336L897.867 930.737C903.23 922.301 911.633 917.459 920.92 917.459C930.204 917.459 938.607 922.301 943.97 930.741L944.799 932.035C948.729 938.219 954.885 941.766 961.684 941.766C968.489 941.766 974.645 938.222 978.572 932.042L979.657 930.339C985.02 921.903 993.42 917.061 1002.71 917.061C1011.99 917.061 1020.4 921.899 1025.76 930.339L1027.87 933.644C1031.79 939.828 1037.95 943.372 1044.75 943.372C1051.56 943.372 1057.71 939.828 1061.64 933.644L1063.1 931.345C1068.47 922.901 1076.87 918.063 1086.16 918.063H1086.16C1095.45 918.063 1103.85 922.905 1109.21 931.341L1111.06 934.245C1114.99 940.424 1121.14 943.968 1127.95 943.968C1134.75 943.968 1140.9 940.424 1144.83 934.245L1148.21 928.936C1153.57 920.496 1161.97 915.658 1171.26 915.658C1180.55 915.658 1188.95 920.496 1194.32 928.936C1198.24 935.116 1204.4 938.66 1211.2 938.66C1218.01 938.66 1224.16 935.116 1228.09 928.936L1230.89 924.528C1236.26 916.088 1244.66 911.25 1253.94 911.25C1263.23 911.25 1271.63 916.088 1277 924.528L1282.42 933.044C1286.34 939.224 1292.5 942.768 1299.3 942.768C1306.1 942.768 1312.26 939.224 1316.18 933.044L1319.5 927.833L1325.67 932.701L1322.36 937.904C1316.99 946.34 1308.59 951.179 1299.3 951.179C1290.01 951.179 1281.61 946.34 1276.25 937.9L1270.83 929.385C1266.9 923.205 1260.75 919.661 1253.94 919.661C1247.14 919.661 1240.99 923.205 1237.06 929.385L1234.26 933.793C1228.89 942.233 1220.49 947.071 1211.2 947.071C1201.91 947.071 1193.51 942.233 1188.15 933.793C1184.22 927.613 1178.07 924.069 1171.26 924.069C1164.46 924.069 1158.3 927.613 1154.38 933.793L1151 939.105C1145.63 947.545 1137.23 952.383 1127.95 952.383Z"
            fill="#7070AD"
          />
          <path
            d="M136.891 753.047L115.05 738.631L97.8276 752.047L95 748.445L114.83 733.008L136.703 747.444L155.671 733.008L177.116 747.444L196.517 733.01L217.528 747.444L237.365 733.01L257.94 747.444L278.208 733.01L298.35 747.444L317.705 733.949L320.333 737.69L298.316 753.047L278.199 738.631L257.958 753.047L237.413 738.631L217.603 753.047L196.625 738.631L177.251 753.047L155.838 738.631L136.891 753.047Z"
            fill="#F7D579"
          />
          <path
            d="M208.333 345.613L241.071 320.094L208.333 294.579L175.596 320.094L208.333 345.613ZM253.667 320.094L208.333 355.43L163 320.094L208.333 284.766L253.667 320.094Z"
            fill="#62BFA1"
          />
          <path
            d="M1248.33 742.119L1197.67 701.703L1248.33 661.289L1299 701.703L1248.33 742.119Z"
            fill="#454757"
          />
        </svg>
      </div>
    </div>
    <section id="about" class="section-block">
      <span class="section-heading">Tentang Saya</span>
      <div id="about-container">
        <img src="{% static 'images/steven.png' %}" alt="WH" id="about-avatar" />
        <div id="about-description-container">
          <span id="description-heading">Steven</span>
          <span id="description-heading-under">Wiryadinata Halim</span>
          <div class="table-responsive">
            <table align="center" class="table text-light">
              <tr>
                <th>NPM</th>
                <td>1906350622</td>
              </tr>
              <tr>
                <th>Angkatan</th>
                <td>2019</td>
              </tr>
              <tr>
                <th>Institusi Pendidikan</th>
                <td>Universitas Indonesia</td>
              </tr>
              <tr>
                <th>Hobi</th>
                <td>Mengerjakan Sesuatu</td>
              </tr>
              <tr>
                <th>Deskripsi Diri</th>
                <td>
                  Saya merupakan anak kedua dari dua bersaudara. Saya belum
                  memiliki skill spesial seperti bermain musik maupun
                  berolahraga. <br />Namun dengan belajar PPW, saya harap saya
                  dapat mendapatkan skill web development.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section id="education" class="section-block">
      <span class="section-heading">Riwayat Pendidikan</span>
      <div class="riwayatpendidikan">
        <img
          src="{% static 'images/sekolah.png' %}"
          alt="Foto Steven"
          style="width:20rem;height:15rem;"
        />
        <div
          class="table-responsive"
          style="background-color: #454757; padding: 2rem;"
        >
          <table align="center" class="table text-light table-bordered">
            <tr>
              <th>Tahun</th>
              <th>Nama Institusi / Sekolah</th>
            </tr>
            <tr>
              <td>2005-2007</td>
              <td>TKK Karunia</td>
            </tr>
            <tr>
              <td>2007-2013</td>
              <td>SDK Karunia</td>
            </tr>
            <tr>
              <td>2013-2016</td>
              <td>SMPK 2 Penabur Jakarta</td>
            </tr>
            <tr>
              <td>2016-2019</td>
              <td>SMAN 2 Jakarta</td>
            </tr>
            <tr>
              <td>2019-sekarang</td>
              <td>Universitas Indonesia</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section id="follow" class="section-block">
      <span class="section-heading"><i>Follow Me</i></span>
      <div>
        <a href="https://www.instagram.com/stevenwh15/?hl=id" target="_blank">
          <img
            class="logo"
            src="{% static 'images/instagram.png' %}"
            alt="instagram"
            style="width:4rem;height:4rem;margin-right:1rem;"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/steven-wh-161264173/"
          target="_blank"
        >
          <img
            class="logo"
            src="{% static 'images/linkedin.png' %}"
            alt="linkedin"
            style="width:4rem;height:4rem;"
          />
        </a>
      </div>
    </section>
{% endblock %}
