body, .modal-content {
  background-color: #1b1c20;
  color: #f8d473;
  font-family: "Roboto", sans-serif;
}

#nama > svg {
  width: 100%;
  height: 100%;
}
#nama {
  width: 55%;
}

#nama > div > svg {
  width: 100%;
}
a {
  color: #f8d473;
}

.decorator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.decorator > svg {
  width: 100%;
  height: 100%;
}

.container-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: #f8d473;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2rem;
}

.about-data-container {
  background-color: #454757;
  display: flex;
}

.photo-container {
  height: 10rem;
  height: 10rem;
}

.photo-container > svg {
  width: 100%;
  height: 100%;
}

.desc-container {
  padding: 2rem;
  background-color: black;
}

.about-title {
  color: #fe9270;
  font-size: 2.2rem;
}

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline {
    width: 70%;
    height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .about-data-container {
      flex-direction: column;
    }

    #timeline {
        width: 100%;
    }

    .timeline-container {
        overflow-x: scroll;
    }
  }